/ecbuild/
.cache-main
.cache-tests
.classpath
.project
.settings/
lib/deploy.jar
lib/javaws.jar
installerbuild/
Kojo-z/
project/target
security/
target/
*.*~
/bin/
.idea/
dist*/
release*/
Kojo.zip
log
libk.dist/
.bsp/
examples/face-id/face_feature_model/*
examples/digit-classification/mnist.djl.model